body{
    height: 100vh;
    background: linear-gradient(to top, rgba(179, 107, 107, 0), rgb(240, 100, 130));
}
h1
{
    text-align: center;
    color:rgb(9, 7, 145);
    margin-top: 1rem;
}
.one,.two,.three
{
    text-align: center;
}
.one,.three{
    margin-top: 2rem;
}
.one textarea{
    padding: 1rem;
}
.three textarea{
    padding: 1rem;
}
.two{
    margin-top: 1.5rem;
}


